body {
    padding: 0;
    margin: 0;
    display: inline-grid;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr auto; /* form | separator | answer-block | settings */
}

#requestForm {
    margin: 10px;
}

.form-content {
    display: flex;
    align-content: center;
    gap: 10px;
    padding-right: 10px;
}

#query {
    flex: 1;
    width: max-content;
    height: 25px;
    border: 1px solid grey;
    border-radius: 5px;
}

#submit-button {
    background: #f4f4f4;
    border: 1px solid #c1c1c1;
    border-radius: 15px;
    height: 30px;
    width: 100px;
}

#submit-button:hover {
    cursor: pointer;
    background: #C1C1C1;
}

.answer-block {
    display: flex;
    margin: 10px;
    height: max-content; /* remove this line */
    overflow-y: auto;    /* optional: scroll if content overflows */
}

.answer-block > * {
    font-family: Arial, monospace;
}

.settings-buttons {
    padding: 10px;
}

.settings-buttons > button {
    background: #f4f4f4;
    border: 1px solid #c1c1c1;
    border-radius: 15px;
    height: 30px;
    margin-right: 10px;
}

.settings-buttons > button:hover {
    cursor: pointer;
    background: #C1C1C1;
}
