<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/assets/style/index.css">
    <link rel="stylesheet" href="/assets/style/loading_bar.css">

    <!-- library for parsing the model's markdown -->
    <script src="/assets/scripts/marked.js"></script>
    <script src="/assets/scripts/localizer.js"></script>
    <script src="/assets/scripts/main.js"></script>
</head>
<body>

<form id="requestForm">
    <div class="form-content">
        <label for="query"></label>
        <input type="text" name="query" id="query" placeholder="" required>
        <input type="submit" value="" id="submit-button">
    </div>
</form>

<div class="separator" id="loading-bar"></div>

<div class="answer-block">
    <div id="bot-answer"><span ></span></div>
    <span id="request-error"></span>
</div>

<div class="settings-buttons">
    <button id="update-button"></button>
    <button id="reset-button"></button>
    <button id="reconfig-button"></button>
</div>

</body>
</html>